.places__like{
    position: relative;
    background: transparent;
    width: 22px;
    height: 19px;
    border: none;

}


.places__like::after{
    position: absolute;
    content: "";
    background: url(../../../image/like.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}