.places__like {
    position: relative;
    background: transparent;
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../image/like.svg);
    cursor: pointer;

}

.places__like:hover{
  opacity: 0.6;
}
