.popup__container {
   position: relative;
   max-width: 282px;
   display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 22px;
    border-radius: 10px;

}

@media screen and (min-width: 1024px) {
   .popup__container {
      max-width: 430px;
   }
}